* {
  /* display: block; */
  font-family: Poppins;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.cell-letter {
  position: absolute;
  margin: 0;
  width: inherit;
  height: inherit;
  text-align: center;
  user-select: none;
  font-family: Inter, sans-serif;
  font-weight: 600;
  /* pointer-events: none; */
}

.cell-letter:hover {
  cursor: pointer;
}

.hexagon {
  width: 100px;
  height: 90px;
  position: absolute;
}

:root {
  --p0x: 50%;
  --p0y: 0%;

  --p1x: 50%;
  --p1y: 200%;

  --p2x: 130%;
  --p2y: 50%;

  --p3x: 130%;
  --p3y: 150%;

  --p4x: -30%;
  --p4y: 50%;

  --p5x: -30%;
  --p5y: 150%;

  --p6x: 50%;
  --p6y: 0%;

  --p7x: 50%;
  --p7y: 100%;
}

/* js version is just 9 line lol... : */
/* style={{ transform: `translate(${props.offset.x},${props.offset.y})` }} */
/* const offsetValues = [
  { x: "0%", y: "0%" },
  { x: "0%", y: "200%" },
  { x: "80%", y: "50%" },
  { x: "80%", y: "150%" },
  { x: "-80%", y: "50%" },
  { x: "-80%", y: "150%" },
]; */
#comb > a:nth-child(1) {
  transform: translate(var(--p7x), var(--p7y));
}

#comb > a:nth-child(2) {
  transform: translate(var(--p0x), var(--p0y));
}

#comb > a:nth-child(3) {
  transform: translate(var(--p1x), var(--p1y));
}

#comb > a:nth-child(4) {
  transform: translate(var(--p2x), var(--p2y));
}

#comb > a:nth-child(5) {
  transform: translate(var(--p3x), var(--p3y));
}

#comb > a:nth-child(6) {
  transform: translate(var(--p4x), var(--p4y));
}
#comb > a:nth-child(7) {
  transform: translate(var(--p5x), var(--p5y));
}

#comb > a {
  margin-left: 10.25%;
}

#comb {
  position: relative;
  width: 260px;
  height: 268px;
  padding: 20px;
}

.fade-in {
  animation: fadeIn ease 0.25s;
}
.fade-out {
  animation: fadeOut ease 0.35s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hexagon:hover polygon {
  filter: brightness(0.95);
}

.center-cell > polygon {
  stroke: #f7da21 !important;
  fill: #f7da21 !important;
}

.outer-cell > polygon {
  stroke: #e6e6e6 !important;
  fill: #e6e6e6 !important;
}

a:active polygon {
  transform: scale3d(0.86, 0.86, 1) !important;
  filter: brightness(0.85) !important;
  transform-origin: center center;
}

.hexagon > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 650;
  font-size: 1.6em;
  text-anchor: middle;
}

.hive-buttons-panel {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

.hive-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 5.5em;
  min-width: 5.5em;
  height: 3em;
  background-color: white;
  font-size: 1em;
  margin: 0 8px;
  color: #333;
  border: 1px solid #dcdcdc;
  border-radius: 2.5em;
  letter-spacing: 0.01em;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.shuffle-button {
  background: url(./download.svg) center no-repeat;
  background-size: 60%;
  height: 3em;
  width: 3em;
  min-width: 3em;
}

nav > a {
  padding: 5px;
}

.hive-button:active {
  background-color: #ededed;
}

.hive-button-active {
  background-color: #ededed;
}

.found-word {
  text-transform: capitalize;
}

.wordlist-box {
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  /* margin: 12px; */
  padding: 12px;
  display: flex;
  flex-flow: column wrap;
  letter-spacing: 0.005em;
}

ul {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  height: calc(100% - 38px);
  max-height: 200px !important;
  padding: 20px 0 24px;
}

li {
  padding: 4px 0 4px 1px;
  margin-bottom: 7px;
  border-bottom: 1px solid #dcdcdc;
  list-style: none;
  width: calc(33.33% - 25px);
  margin-right: 25px;
}

.center-letter {
  color: #f7da21;
}

.valid {
  color: black;
}

.invalid {
  color: #dcdcdc;
}

/* *,
*:before,
*:after {
  box-sizing: inherit; 
}*/

.controls-box {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.control-panel {
  width: 80vw;
  max-width: 290px;
  z-index: 3;
  padding-bottom: 45px;
  opacity: 1;
  transition: opacity 150ms 200ms ease;
  position: relative;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputBox {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
  height: 1.25em;
  width: 100%;
  font-size: 2em;
  padding-top: 2px;
  text-align: center;
  position: relative;
  max-width: 101%;
  overflow: hidden;
}

#inputForm {
  height: 100%;
  display: inline-block;
  position: relative;
  min-width: 1px;
  /* max-width: 99%; */
  /* overflow: hidden; */
  font-size: 1em;
  font-family: Inter, sans-serif;
  font-weight: 600;
}

#inputForm:empty::before {
  content: "Type or click";
  color: #959595;
  text-transform: none;
  font-weight: 400;
  display: block;
  font-family: Inter, sans-serif;
}

#inputForm::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 2px;
  height: 1.25em;
  background: #f7da21;
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
  right: -4px;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#progress-line {
  position: relative;
  height: 1px;
  background: #dcdcdc;
  width: 100%;
  display: flex;
  align-items: center;
}

#progress-box {
  display: flex;
  flex-direction: row;
}

#progress-bar {
  margin-left: 12px;
  flex-grow: 1;
  position: relative;
  min-width: calc(100% - 12px - 85px);
  display: flex;
  align-items: center;
}

#progress-dots {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-dot {
  display: block;
  width: 0;
  position: relative;
}

#progress-dots > .completed-dot::after {
  background-color: #f7da21;
}

.progress-dot::after {
  display: block;
  width: 0;
  position: relative;
  content: "";
  display: block;
  position: absolute;
  left: -4.5px;
  top: -4.5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #dcdcdc;
  transition: background-color 200ms 100ms ease;
}

#progress-line-marker {
  width: 1.875em;
  height: 1.875em;
  position: absolute;
  left: 0%;
  transition: left 200ms ease;
  transform: translate(-50%, 0);
}

#progress-line-value {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #f7da21;
  font-size: 0.75em;
  font-weight: 500;
  letter-spacing: -0.03125em;
}

#status-box {
  width: 50%;
}

#control-panel {
  width: 50%;
}

.message-box {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.message-box-content {
  opacity: 0;
  background-color: black;
  color: white;
  border: none;
  transition: opacity 1s;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  bottom: 10px;
  font-size: 0.875em;
  padding: 8px 8px;
  font-weight: 100;
}

/* .message-box-content {
  opacity: 100%;
  background-color: black;
  color: white;
  border: none;
  transition: opacity 1s;
} */

.animation-target {
  -webkit-animation: animation 1200ms linear both;
  animation: animation 1200ms linear both;
}

/* Generated with Bounce.js. 
Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22s%22%2Cd%3A1000%2CD%3A0%2C
f%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A-25%2Cy%3A0%7D%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22t%22%2Ce%3A%22s%22%2Cd%3A100
0%2CD%3A200%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A-25%2Cy%3A0%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */

@-webkit-keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.67% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -6.63,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.63, 0, 0, 1);
  }
  5.34% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -8.259,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.259, 0, 0, 1);
  }
  10.59% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -5.313,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.313, 0, 0, 1);
  }
  15.77% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -1.727,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.727, 0, 0, 1);
  }
  16.57% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -1.332,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.332, 0, 0, 1);
  }
  16.67% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -1.286,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.286, 0, 0, 1);
  }
  19.34% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -6.961,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.961, 0, 0, 1);
  }
  21.02% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -8.043,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.043, 0, 0, 1);
  }
  22.01% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -8.082,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.082, 0, 0, 1);
  }
  26.19% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -5.763,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.763, 0, 0, 1);
  }
  27.26% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -4.929,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.929, 0, 0, 1);
  }
  32.43% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -1.512,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.512, 0, 0, 1);
  }
  37.69% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.09,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.09, 0, 0, 1);
  }
  42.86% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.385,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.385, 0, 0, 1);
  }
  47.05% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.274,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.274, 0, 0, 1);
  }
  63.71% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.018,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.018, 0, 0, 1);
  }
  67.9% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.013,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.013, 0, 0, 1);
  }
  83.33% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.001,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
  }
  84.57% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.001,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.67% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -6.63,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.63, 0, 0, 1);
  }
  5.34% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -8.259,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.259, 0, 0, 1);
  }
  10.59% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -5.313,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.313, 0, 0, 1);
  }
  15.77% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -1.727,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.727, 0, 0, 1);
  }
  16.57% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -1.332,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.332, 0, 0, 1);
  }
  16.67% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -1.286,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.286, 0, 0, 1);
  }
  19.34% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -6.961,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -6.961, 0, 0, 1);
  }
  21.02% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -8.043,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.043, 0, 0, 1);
  }
  22.01% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -8.082,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -8.082, 0, 0, 1);
  }
  26.19% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -5.763,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.763, 0, 0, 1);
  }
  27.26% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -4.929,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -4.929, 0, 0, 1);
  }
  32.43% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -1.512,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.512, 0, 0, 1);
  }
  37.69% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.09,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.09, 0, 0, 1);
  }
  42.86% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.385,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.385, 0, 0, 1);
  }
  47.05% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.274,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.274, 0, 0, 1);
  }
  63.71% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.018,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.018, 0, 0, 1);
  }
  67.9% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      -0.013,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.013, 0, 0, 1);
  }
  83.33% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.001,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
  }
  84.57% {
    -webkit-transform: matrix3d(
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1,
      0,
      0.001,
      0,
      0,
      1
    );
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
